.navWrapper {
  padding: 0 10%;
  height: 5rem;
  background-color: var(--red, #77002e);
}

.flexRowCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLink {
  --white: white;
  --fz: 1.5rem;
  --fw: bold;

  color: var(--white);
  font-weight: var(--fw);
  font-size: var(--fz);
  list-style-type: none;

  &:link {
    text-decoration: none;
  }
}
// unordered list
li {
  &:not(:last-child) {
    margin-right: 2rem;
  }
  a {
    color: var(--white);
    font-weight: normal;
    font-size: calc(var(--fz) - 25%);
    &:link {
      text-decoration: none;
    }
  }
}

.pageLink {
  position: relative;
}
.favoritesBadge {
  position: absolute;
  top: -6px;
  right: -14px;
  border-radius: 50%;
  font-size: small;
  line-height: 0.5;
  padding: 8px;
  background-color: #cc2062;
}
