.navbar {
  height: 7rem;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  padding: 0 6rem;
  color: #fff;
}
.logo {
  margin-right: auto;
  font-size: 3rem;
}
.links {
  font-weight: bold;
  a {
    &:first-child {
      margin: 0;
    }
    &:link {
      text-decoration: none;
    }

    margin: 0 2rem;
    color: #fff;
  }
  button {
    border-radius: 5px;
    color: #fff;
    border: 1px solid #fff;
    background-color: var(--bg-color);
    padding: 0.5rem 1rem;
  }
}
