.navbar {
  height: 7rem;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  padding: 0 6rem;
}
.navbar,
.logo,
.link {
  color: #fff;
}
.logo:link {
  text-decoration: none;
}
.logo {
  margin-right: auto;
  font-size: 3rem;
}
.links {
  font-weight: bold;
  .link {
    margin: 0 2rem;
    color: #fff;
    &:first-child {
      margin: 0;
    }
    &:link {
      text-decoration: none;
    }
  }
}
